html,
body {
  margin: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  background: #fff;
}

body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 25px;
}

.nav-item a:hover {
  text-shadow: 3px 3px 4px #000000;
}

.navbar-brand {
  text-shadow: 5px 5px 10px black;
  font-size: 30px;
}

.getAccount {
  width: 220px;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
.carousel-inner {
  position: relative;
  text-align: center;
}

.carousel-inner .carousel-item .container .carousel-caption h1 {
  font-size: 85px;
  text-shadow: 3px 3px 5px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 35rem;
}

/* MARKETING CONTENT
  -------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
  ------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.footer {
  background: #0b0c11;
  padding: 1em 0em;
  margin-top: 180px;
}

.form-signin {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 120px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin h1 {
  font-size: 55px;
}

.form-signin p {
  font-size: larger;
}

.main_text1 h1 {
  margin-top: 1%;
  font-size: 75px;
  color: black;
}

.main_text1 h4 {
  margin-left: -10%;
  color: black;
}

.main_text1 h5 {
  margin-left: -15.2%;
  font-size: 23px;
  color: black;
}

.list-subjects1 .linie1::after {
  content: "";
  border: 1px solid;
  color: black;
  height: 1px;
  width: 13%;
  left: 26%;
  top: 43%;
  position: absolute;
  border-radius: 20px;
}

.list-subjects1 .inner-skill {
  background: black;
  border: 1px solid;
  height: 1px;
  width: 13%;
  left: 26%;
  top: 43%;
  position: absolute;
  border-radius: 20px;
}

.list-subjects1 h3 {
  text-transform: uppercase;
  color: black;
  margin-top: 4%;
  font-size: 40px;
}

.list-subjects1 .linie2::after {
  content: "";
  border: 1px solid;
  color: black;
  height: 1px;
  width: 13%;
  left: 61%;
  top: 43%;
  position: absolute;
  border-radius: 20px;
}

.list-subjects1 .inner-skil1 {
  background: black;
  border: 1px solid;
  height: 1px;
  width: 13%;
  left: 61%;
  top: 43%;
  position: absolute;
  border-radius: 20px;
}

.content-table1 {
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.content-table1 thead tr {
  background: #009879;
  color: white;
}

.content-table1 thead tr th {
  text-transform: uppercase;
}

.content-table1 tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table1 tbody tr:first-of-type {
  background-color: #f3f3f3;
}

.content-table1 tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

@media only screen and (max-width: 770px) {
  .main_text1 h1 {
    margin-top: 1%;
    font-size: 25px;
    color: black;
  }
  .main_text1 h4 {
    margin-left: -10%;
    color: black;
  }
  .main_text1 h5 {
    margin-left: -15.2%;
    font-size: 8px;
    color: black;
  }
}

#inputGroupSelect01 {
  padding: 10px 10px 10px 10px;
  margin: 10px;
  width: 400px;
  border-radius: 20px;
  border: 2px solid black;
}

.list-subjects2 .linie1::after {
  content: "";
  border: 2px solid;
  color: black;
  height: 1px;
  width: 250px;
  left: 280px;
  top: 450px;
  position: absolute;
  border-radius: 20px;
}

.list-subjects2 .inner-skill {
  background: black;
  border: 1px solid;
  height: 1px;
  width: 250px;
  left: 280px;
  top: 450px;
  position: absolute;
  border-radius: 20px;
}

.list-subjects2 h3 {
  text-transform: uppercase;
  color: black;
  margin-top: 4%;
  font-size: 40px;
}

.list-subjects2 .linie2::after {
  content: "";
  border: 1px solid;
  color: black;
  height: 1px;
  width: 250px;
  left: 1300px;
  top: 450px;
  position: absolute;
  border-radius: 20px;
}

.list-subjects2 .inner-skil1 {
  background: black;
  border: 1px solid;
  height: 1px;
  width: 250px;
  left: 1300px;
  top: 450px;
  position: absolute;
  border-radius: 20px;
}

.content-table2 {
  margin-top: 4%;
  border-collapse: collapse;
  margin-left: 4.6%;
  width: 1000px;
  color: black;
  font-size: 20px;
}

.content-table2 thead tr {
  background: #009879;
  color: white;
}

.content-table2 thead tr th {
  padding: 12px 25px;
  text-transform: uppercase;
}

.content-table2 tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table2 tbody tr td {
  padding: 12px 90px;
}

.content-table2 tbody tr:first-of-type {
  background-color: #f3f3f3;
}

.content-table2 tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

@media only screen and (max-width: 770px) {
  .main_text2 h1 {
    padding-top: 18px;
    font-size: 35px;
  }
  .list-subjects2 .linie1::after {
    content: "";
    border: 1px solid;
    color: black;
    height: 1px;
    width: 70px;
    left: 120px;
    top: 327px;
    position: absolute;
    border-radius: 2px;
  }
  .list-subjects2 .inner-skill {
    background: black;
    border: 1px solid;
    height: 1px;
    width: 70px;
    left: 120px;
    top: 327px;
    position: absolute;
    border-radius: 2px;
  }
  .list-subjects2 h3 {
    text-transform: uppercase;
    color: black;
    margin-top: 4%;
    font-size: 20px;
  }
  .list-subjects2 .linie2::after {
    content: "";
    border: 1px solid;
    color: black;
    height: 1px;
    width: 70px;
    left: 120px;
    top: 327px;
    position: absolute;
    border-radius: 8px;
  }
  .list-subjects2 .inner-skil1 {
    background: black;
    border: 1px solid;
    height: 1px;
    width: 70px;
    left: 570px;
    top: 327px;
    position: absolute;
    border-radius: 2px;
  }
  #inputGroupSelect01 {
    padding: 2px 2px 2px 2px;
    margin: 10px;
    width: 170px;
    border-radius: 20px;
    border: 2px solid black;
  }
  .content-table2 {
    margin-top: 4%;
    border-collapse: collapse;
    margin-left: 4.6%;
    width: 100px;
    color: black;
    font-size: 11px;
  }
  .content-table2 thead tr {
    background: #009879;
    color: white;
  }
  .content-table2 thead tr th {
    padding: 4px 25px;
    text-transform: uppercase;
  }
  .content-table2 tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .content-table2 tbody tr td {
    padding: 4px 10px;
  }
  .content-table2 tbody tr:first-of-type {
    background-color: #f3f3f3;
  }
  .content-table2 tbody tr:last-of-type {
    border-bottom: 3px solid #009879;
  }
}

.main_text3 h1 {
  margin: 2%;
  font-size: 55px;
  color: black;
}

.text_box .form-control {
  width: 150px;
  border-radius: 30px;
  text-align: center;
  margin-left: 40%;
  margin-bottom: -2.5%;
}

.text_box .button1 {
  height: 40px;
  width: 140px;
  margin-left: 53%;
  border-radius: 30px;
  border: none;
  background-color: #45aaf2;
  cursor: pointer;
}

.content-table3 {
  margin-top: 4%;
  border-collapse: collapse;
  margin-left: 4.6%;
  width: 1000px;
  color: black;
  font-size: 20px;
}

.content-table3 thead tr {
  background: #009879;
  color: white;
}

.content-table3 thead tr th {
  padding: 5px 25px;
  text-transform: uppercase;
}

.content-table3 tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table3 tbody tr td {
  padding: 5px 90px;
}

.content-table3 tbody tr:first-of-type {
  background-color: #f3f3f3;
}

.content-table3 tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.text_box2 {
  margin-top: 3%;
}

.text_box2 .form-control1 {
  font-size: 17px;
  padding: 10px 10px;
  width: 400px;
  border-radius: 100px;
  margin-left: 40%;
  border: 1px solid black;
}

.text_box2 .form-control2 {
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: -10.2%;
  margin-left: -22%;
  width: 395px;
  padding: 0px 0px 120px 0px;
  font-size: 17;
}

.text_box2 .button2 {
  margin-top: 10%;
  height: 40px;
  width: 140px;
  margin-left: 47%;
  border-radius: 30px;
  border: none;
  background-color: #45aaf2;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .main_text3 h1 {
    margin: 2%;
    font-size: 35px;
    color: black;
  }
  .text_box .form-control {
    width: 90px;
    border-radius: 30px;
    text-align: center;
    margin-left: 37%;
    margin-bottom: -4.2%;
    font-size: 12px;
  }
  .text_box .button1 {
    height: 30px;
    width: 90px;
    margin-left: 53%;
    border-radius: 30px;
    border: none;
    background-color: #45aaf2;
    cursor: pointer;
  }
  .content-table3 {
    margin-top: 4%;
    border-collapse: collapse;
    margin-left: 4.6%;
    width: 100px;
    color: black;
    font-size: 11px;
  }
  .content-table3 thead tr {
    background: #009879;
    color: white;
  }
  .content-table3 thead tr th {
    padding: 4px 25px;
    text-transform: uppercase;
  }
  .content-table3 tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .content-table3 tbody tr td {
    padding: 4px 10px;
  }
  .content-table3 tbody tr:first-of-type {
    background-color: #f3f3f3;
  }
  .content-table3 tbody tr:last-of-type {
    border-bottom: 3px solid #009879;
  }
  .text_box2 {
    margin-top: 3%;
  }
  .text_box2 .form-control1 {
    font-size: 11px;
    padding: 10px 10px;
    width: 220px;
    border-radius: 100px;
    margin-left: 37%;
    border: 1px solid black;
  }
  .text_box2 .form-control2 {
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: -23%;
    margin-left: -29%;
    width: 220px;
    padding: 0px 0px 120px 0px;
    font-size: 11px;
  }
  .text_box2 .button2 {
    margin-top: 23%;
    height: 40px;
    width: 90px;
    margin-left: 47%;
    border-radius: 30px;
    border: none;
    background-color: #45aaf2;
    cursor: pointer;
  }
}

.main_text4 h1 {
  margin-top: 2%;
  font-size: 55px;
  color: black;
}

.TEXT_BOX {
  margin-top: 2%;
}

.TEXT_BOX .form-con1 {
  font-size: 20px;
  width: 350px;
  padding: 4px 120px 4px 4px;
  border-radius: 20%;
  border-radius: 20px;
  border: 1px solid black;
}

.TEXT_BOX .form-con2 {
  font-size: 20px;
  width: 350px;
  padding: 4px 120px 4px 4px;
  border-radius: 20%;
  border-radius: 20px;
  border: 1px solid black;
}

.TEXT_BOX .form-con3 {
  font-size: 20px;
  padding: 10px 10px 120px 10px;
  width: 1200px;
  border-radius: 20%;
  border-radius: 20px;
  border: 1px solid black;
}

.TEXT_BOX .button3 {
  height: 40px;
  width: 140px;
  border-radius: 30px;
  border: none;
  background-color: #45aaf2;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .main_text4 h1 {
    margin-top: 2%;
    font-size: 35px;
    color: black;
  }
  .TEXT_BOX {
    margin-top: 2%;
  }
  .TEXT_BOX .form-con1 {
    font-size: 12px;
    width: 220px;
    padding: 4px 120px 4px 4px;
    border-radius: 20%;
    border-radius: 20px;
    border: 1px solid black;
  }
  .TEXT_BOX .form-con2 {
    font-size: 12px;
    width: 220px;
    padding: 4px 120px 4px 4px;
    border-radius: 20%;
    border-radius: 20px;
    border: 1px solid black;
  }
  .TEXT_BOX .form-con3 {
    font-size: 20px;
    padding: 10px 10px 90px 10px;
    width: 600px;
    border-radius: 20%;
    border-radius: 20px;
    border: 1px solid black;
  }
  .TEXT_BOX .button3 {
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border: none;
    background-color: #45aaf2;
    cursor: pointer;
  }
}

.footer_change_pw {
  margin-top: 93px;
}

.change_pw h1 {
  font-size: 55px;
}

.change_pw p {
  font-size: larger;
}

.upload {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 41px;
}

.upload .text-center h1 {
  font-size: 55px;
}

.upload .text-center p {
  font-size: larger;
}

.upload .centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.footer_upload {
  margin-top: 31px;
}

.add_account {
  border-radius: 20px;
}

.footer_add_account {
  margin-top: 180px;
  margin-bottom: -18px;
  font-weight: 100%;
}

.buton {
  border: none;
  border-radius: 20px;
  padding: 4px 100px;
  font-size: 23px;
  margin-left: 25%;
  cursor: pointer;
}

#add_role {
  border-radius: 20px;
  height: 45px;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}
